
.boxworld{
    background-color:pink;
    /* color:white; */
}

*{
	padding:0;
	margin:0;
}

.wrapper {
    font-size:75px;
    color:black;
}

.border{
	border-bottom:solid 4px white;
}


.new {
	display:flex;
	background-color: black;
	align-items:center;
	font-family: 'Merriweather', serif;
	padding-top: 20px;
	padding-bottom: 40px;
    padding-left: 40px;    
}

.new ul li{
	display:inline-block;
	align-content: left;
	margin-left: 80px;
}

#yellowletters {
	color:red;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}


.whiteletters{
	color:white;
	font-weight: bold;
	font-size:20px;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

a{
	color:white;
	text-decoration: none;}


.border{
	border-bottom:solid 4px white;
}

.border nav a:hover {
	color: red;
}

.new {
	display:flex;
	background-color: black;
	align-items:center;
	font-family: 'Merriweather', serif;
	padding-top: 20px;
	padding-bottom: 40px;
    padding-left: 40px;    
}

.boxes {
    width: calc(90%);
    background-color:white;
    min-height:200px;
    border: 3px solid pink;
    margin-left:45px;
    margin-top:60px;
    /* padding:80px; */
    font-size: 20px;
	margin-right:50px;
	background-color:black;
	color: white;
	/* background-image: url(images/periodico4.png); */
}

h6{
    float: right;
    padding-right: 10px;
    margin-top: 60px;
}


body{
	background-color:black;
}